@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Raleway&family=Roboto+Mono:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}

img {
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
  image-rendering: optimizeQuality;
}
img:hover {
  opacity: 0.9;
}
.card-image{
 object-fit: cover;
 image-rendering: -moz-crisp-edges;         /* Firefox */
 image-rendering:   -o-crisp-edges;         /* Opera */
 image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
 image-rendering: crisp-edges;
 -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
 border:  solid 0px;
}

.button{
  border-radius: 0px;
  border:  none;
}
#button_color{
  background-color: #27e620;
};
.content{
  background-image:url("../public/images/img1.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 100%;
}

.alpha a{
    text-decoration: none;
    color: #fff;
}

.alpha a:hover{
  text-decoration: underline;
  color: red;
}

ol.list {
  list-style-type: lower-alpha;
}

.hyperlink a{
    text-decoration: none;
    color: blue;
}
.hyperlink a:hover{
  text-decoration: underline;
  color: red;
}

/* Footer control start here */
.red{
  color: red !important;
}

footer{
  background-color: #000014;
}
  h3{
      padding: 5px;
      margin-bottom: 30px;
    }
  .contact-link{
    display:inline-block;
    width: 100%;
    color: #333;
  }
  .footer-social ul{
    padding-left: 0;
  }
  .footer-social ul li{
    display: block;
  }
  .footer-social ul a{
    font-size: 20px;
          text-decoration: none;
  }
  .footer-social ul a:hover{
    color: red;
  }
  .footer-social li{
        list-style: none;
        float: left;
        padding: 0 10px;
      }
  .opening-time{
    padding-left:0;
    }

 .opening-time li{
    list-style: none;
  }
  .opening-time li a{
    text-decoration: none;
  }
  span{
    float:left;
    padding-right: 10px;
   }


  .media-body a:hover{
        color: red;
  }
  
.bgdark{
  background-color: #000014;
}
.space{
  margin-top: 10px;
}
.text{
  text-decoration: none;
}
.footer-widget-content li {
  list-style: none;
}
.image{
  margin-bottom: 3px;
}



/*Content Section*/
.submenu {
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}

.submenu a {
  float: Left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #fff;
}

.submenu a:hover {
  background: #ddd;
  color: black;
}

/*Sub Navbar start*/
.tablink_color{
  background-color: maroon;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
}
#text{
  text-color: white;
}
#banner{
  font-size: 23px;
}
#bg-danger{
  background-color: #041b8f;
}
#button_nav{
  border-radius:1px;
  background-color: #041b8f;
  border: none;
}
#button1{
  background-color: #041b8f;
  border: none;
}
#button2{
  background-color: #85031a;
}
#button3{
  background-color: #85031a;
}
#bg{
   background-color: #044b8f;
   border: 1px;
   padding: 1px;
   box-shadow: 5px 10px 18px #999999;
}
#bg-color{
   background-color: #044b8f;
   border: none;
   box-shadow: 5px 10px 18px #999999;
}
#bg-color1{
   background-color: #045b8f;
   border: none;
   box-shadow: 5px 10px 18px #999999;
}
.tablink {
  background-color: #043b8f;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  width: 100%;
}
.tablink1 {
  background-color: #044b8f;
  color: white;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  padding: 13px 15px;
  font-size: 14px;
  width: 100%;
}
.tablink2 {
  background-color: #045b8f;
  color: white;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 13px 15px;
  font-size: 13px;
  width: 100%;
}
.tablink3 {
  background-color: #045b8f;
  color: white;
  border: none;
  border-radius: 35px;
  outline: none;
  cursor: pointer;
  padding: 13px 15px;
  font-size: 12px;
  width: 100%;
}
.tablink1:hover {
  background-color: #06940C;
}
.tablink2:hover {
  background-color: #06940C;
}
.tablink3:hover {
  background-color: #06940C;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/*Member List Control*/
ol {
  background: #1B0DDF;
  padding: 20px;
}
ol li {
  background: #1B0DDF;
  color: #fff;
  padding: 5px;
  margin-left: 5px;
}
.b-primary{
  background-image: url("../public/images/pic4.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.b-size{
  maxHeight: "20vw";
  maxWidth: "50vw";
}
.border{
  padding: 0;
  border: none;
  background: none;
  border-radius: 15px;
}

.checked {
  color: orange;
}

/*Responsive Control*/
@media(max-width: 600px) { 
  .post .sc_image img { 
    display: none; 
  }
}


.sidebar {
        position: sticky;
        top: 0;
        bottom: 0;
        left: 0;
        min-height: 100vh !important;
        z-index: 100;
        padding: 48px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
    #sidebar-wrapper{
        min-height: 100vh !important;
        width: 100vw;
        margin-left: -1rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }
    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }
    
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }



/*Side navbar*/
#sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #045b8f;
  position: fixed;
  height: 100%;
  overflow: auto;
}

#sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
#sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

#sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content_menu {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  #sidebar a {float: left;}
  div.content_menu {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  #sidebar a {
    text-align: center;
    float: none;
  }
}

/* Driver Registration Control */
.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;
  background-size: cover;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
