@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Raleway&family=Roboto+Mono:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}
.body{
  background-image:url('https://cdn.pixabay.com/photo/2021/10/11/17/54/technology-6701504_960_720.jpg');
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
}
.button{
  border-radius: 12px;
}
.button:hover{
  background-color: green;
}
.bg{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj2u_kaAf0Db9Z38h9c6qWrs9l293y9Rizvw&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgcarousel{
  background-image:url("../public/images/bgcarousel.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.content{
  background-image:url("../public/images/img1.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 100%;
}

.nav-theme {
    background-color: #212121;
    font-size: 18px;
    
}

.nav-theme:hover {

text-color: blue; /*will change color of text within the element on hover */
}

.alpha a{
    text-decoration: none;
    color: #fff;
}

.alpha a:hover{
  text-decoration: underline;
  color: red;
}

ol.list {
  list-style-type: lower-alpha;
}

.hyperlink a{
    text-decoration: none;
    color: blue;
}
.hyperlink a:hover{
  text-decoration: underline;
  color: red;
}

/* Footer control start here */
.red{
  color: red !important;
}

footer{
  background-color: #000014;
}
  h3{
      padding: 5px;
      margin-bottom: 30px;
    }
  .contact-link{
    display:inline-block;
    width: 100%;
    color: #333;
  }
  .footer-social ul{
    padding-left: 0;
  }
  .footer-social ul li{
    display: block;
  }
  .footer-social ul a{
    font-size: 20px;
          text-decoration: none;
  }
  .footer-social ul a:hover{
    color: red;
  }
  .footer-social li{
        list-style: none;
        float: left;
        padding: 0 10px;
      }
  .opening-time{
    padding-left:0;
    }

 .opening-time li{
    list-style: none;
  }
  .opening-time li a{
    text-decoration: none;
  }
  span{
    float:left;
    padding-right: 10px;
   }


  .media-body a:hover{
        color: red;
  }
  
.bgdark{
  background-color: #000014;
}
.space{
  margin-top: 10px;
}
.text{
  text-decoration: none;
}
.footer-widget-content li {
  list-style: none;
}
.image{
  margin-bottom: 3px;
}

/*Sub Navbar*/
#mySidenav a {
  position: absolute;
  left: -70px;
  transition: 0.1s;
  padding: 15px;
  width: 82px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 0px 0px 0;
}

#mySidenav a:hover {
  left: 0;
}

#home {
  top: 355px;
  background-color:  #004e92;
}

#projects {
  top: 415px;
  background-color: #000428;
}

#contact {
  top: 475px;
  background-color: #56ab2f;
}

/*Content Section*/
.submenu {
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}

.submenu a {
  float: Left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #fff;
}

.submenu a:hover {
  background: #ddd;
  color: black;
}

/*Sub Navbar start*/
.tablink {
  background-color: #000014;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 100%;
}

.tablink:hover {
  background-color: #0FAC0B;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/*Responsive Control*/
@media only screen and (max-width: 480px) {
img {
width: 100%;
}
}

